@mixin btn-base {
    padding: .5rem 1.5rem;
    border-radius: .25rem;
}
@mixin btn-sm-modify {
    font-size: .75rem;
    padding: .1rem 1rem;
}

$main-color: #0075FF;

.btn-main {
    @include btn-base();
    background-color: $main-color;
    color:white;
    border: solid 1px $main-color;

    &:hover {
        background-color: white;
        color: $main-color;
    }

    &-s {
        @extend .btn-main;
        @include btn-sm-modify();
    }
}

.btn-sec {
    @extend .btn-main;
    color: black;
    background-color: transparent;
    border: none;

    &:hover {
        color: #888;
    }

    &-s {
        @extend .btn-sec;
        @include btn-sm-modify();
    }
}

.main-menu {
    margin-bottom: 0;
    li {
        font-size: .75rem;
        list-style: none;
        display: inline;
        margin-right: 1rem;
        a {
            color: #000;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.icon-sm {
    i {
        font-size: 1.25rem;
        padding: .4rem .65rem;
        border-radius: 50%;
        color: $main-color;
        box-shadow: 0 0 10px #00000050;
    }
}

.benefit {
    display: flex;
    flex-direction: column;
    i {
        color: $main-color;
        font-size: 7.5rem;
        text-align: center;
    }
    .description {
        .title {
            font-size: 2rem;
            text-align: center;
        }
        .text {
            color: #888;
            font-weight: 600;
            text-align: center;
        }
    }
    .cta {
        margin-top: 3rem;
        color: $main-color;
        font-weight: 600;
        text-align: center;
    }
}

.icon-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    i {
        padding: 0;
        color: $main-color;
        font-size: 10rem;
    }
    .title {
        margin-top: -1rem;
        font-size: 1.5rem;
        font-weight: 600;
    }
}